#center {
    margin: auto;
    position: absolute;
    height: 30%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.marginLeft {
    margin-left: 50px;
}

.marginLeftSmall {
    margin-left: 29px;
}

.radio-inline1 {
    top: 50%;
}

.form-control {
    width: 170px;
    display: inline;
}

/* 限制滚动条区域 */
.custom-menu-scroll {
    overflow-y: auto;
    width: auto;
    height: 200px;
}

.custom-list-scroll {
    overflow: auto;
    width: auto;
    height: 150px;
}

.custom-list-scroll-small {
    overflow: auto;
    width: auto;
    height: 130px;
}

.pointer-as-hand {
    cursor: pointer;
}

.delete-btn {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    float: right;
}

.small-text {
    font-size: medium;
}

.move-to-left65 {
    margin-left: -80px;
}

.move-to-left {
    margin-left: -30px;
}

.input-width {
    width: 17%;
    height: 3%
}

.key-color {
    color: purple;
}

.value-color {
    color: darkgreen;
}

/*当鼠标指上去的时候变灰*/
li.list-group-item:hover,
li.list-group-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}

.center-title {
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}