.ztree li span.button.add {
    margin-left: 2px;
    margin-right: -1px;
    background-position: -144px 0;
    vertical-align: top;
    *vertical-align: middle
}

.centers {
    width: 100%;
    height: auto;
    vertical-align: middle; /*设置vertical-align: middle，相对同一级别元素中线对齐*/
    margin: 0px;
    border: none;
    padding: 0px;
}

.margin-left {
    margin-left: 16%;
}

.margin-left2 {
    margin-left: 40vw;
}

.margin-left-top {
     margin-left: 3%;
     margin-top: 1%;
 }

.margin-left-top2 {
    margin-left: 2%;
    margin-top: 1%;
}

.textarea{
    width: 100%;
    height: 60vh;
    padding: 6px 12px;
    overflow-y: auto;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}