<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Policy tree editor</title>
    <link rel="stylesheet" href="../static/lib/zTreeStyle/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" href="../static/css/metadata_tree.css" type="text/css">
    <script type="text/javascript" src="../static/lib/jquery-3.1.1.min.js"></script>
    <script src="../static/lib/jquery-confirm.min.js"></script>
    <script src="../static/lib/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/lib/jquery-confirm.css"/>
    <script type="text/javascript" src="../static/lib/jquery-confirm.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/lib/highlight.css"/>
    <script type="text/javascript" src="../static/lib/highlight.js"></script>
    <link class="codestyle" rel="stylesheet" href="../static/lib/highlight_style/solarized-light.css">
    <script type="text/javascript" src="../static/js/metadata_tree.js"></script>
    <script src="../static/js/patron_parameters.js"></script>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../static/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../static/lib/jquery-confirm.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" src="../static/lib/ztree_js/jquery.ztree.all.min.js"></script>
    <script>
        var tenant_id;
        var tenant_name;
        //TODO 最好不要有重名的json
        var treedata;
        var zTreeObj;
        var setting = {
            view: {
                addHoverDom: addHoverDom,
                removeHoverDom: removeHoverDom,
                selectedMulti: false
            },
            edit: {
                enable: true,
                editNameSelectAll: true,
                showRenameBtn: showRenameBtn
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback: {
                beforeDrag: myBeforeDrag,
                beforeClick: myBeforeClick,
                beforeRemove: beforeRemove,
                onRemove: onRemove
            }
        };

        var realRootNode = new Object();
        $(document).ready(function () {
            tenant_id = GetQueryString("tenant_id");//从url中获取tenant_id，再拿去get
            tenant_name = GetQueryString("tenant_name");//从url中获取tenant_id，再拿去get
            $("#username").text(tenant_name);
            //"json/metadata.json"
            //getBaseUrl()+"/" + "tenants/" + tenant_id
            $.getJSON(getBaseUrl()+"/" + "tenants/" + tenant_id, function (data) {
                treedata = data;
                rootNodeName = treedata["current-policy"];//拿到根节点名字
                realRootNode = treedata[rootNodeName];
                delete treedata["current-policy"];//多余的属性，最后再加即可
                originTree2FormatTree(realRootNode);//转成规范的格式（假设只有一个策略(不含and-or)，则不需要容器来包裹，因此传treeNode[name]而不是treeNode）

                zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, realRootNode);//显示树
                //$("#selectAll").bind("click", selectAll);
                zTreeObj.expandAll(true);//默认全部展开
            });
            //当type改变的时候，设定按钮的显示与否
            $("#modeleditor_type").on('change', function () {
                type = $("#modeleditor_type").val();
                if (type == "op-and" || type == "op-or" || type == "all-pass" || type == "all-forbid") {
                    $("#goto_policy_editor_btn").hide();
                    $("#modeleditor_content").attr("disabled", "disabled");
                } else {
                    $("#modeleditor_content").removeAttr("disabled");

                    $("#goto_policy_editor_btn").show();
                }
            });
        });

        //如果删除后没有子节点，就把子节点的content给父节点，父节点type变为default
        //如果删除后还有子节点，就把父节点的content去掉本节点的名字
        function onRemove(e, treeId, treeNode) {
            var parentNode = treeNode.getParentNode();
            if (parentNode.children.length == 0) {
                parentNode.type = "default";
                parentNode.content = treeNode.content;
            } else if (parentNode.children.length >= 1) {
                parentNode.content = deleteItemFromContent(parentNode.content, treeNode.realName);//删除对应的name和逗号
            }
        }

        function myBeforeDrag(treeId, treeNodes) {
            return false;
        }

        function showRenameBtn(treeId, treeNode) {
            return false;
        }

        //在修改的时候修改父节点的content,也要在添加的时候修改父节点的content。
        //使用zTree规定的方法来修改节点信息
        function updateNode(treeId) {
            treeNode = zTreeObj.getNodeByTId(treeId);//通过id获取到节点
            if ($("#modeleditor_name").val() == "") {

                niceAlert("名字不能为空！",false);
            } else if ($("#modeleditor_display_name").val() == "") {
                niceAlert("显示名称不能为空！",false);
            } else if ($("#modeleditor_content").val() == "" && $("#modeleditor_type").val() != "all-pass" && $("#modeleditor_type").val() != "all-forbid") {
                niceAlert("content不能为空！",false);
            } else if ($("#modeleditor_type").val() == "default" && $("#modeleditor_content").val().indexOf(",") > -1) {//如果含逗号而且是default
                niceAlert("单文件名中不能含有逗号！",false);//不可以重名，因为每个的name都是父对象的属性名，重名会相互覆盖的
            } else if ($("#modeleditor_type").val() == "default" && (
                $("#modeleditor_content").val().indexOf("&") > -1 ||
                $("#modeleditor_content").val().indexOf("=") > -1 ||
                $("#modeleditor_content").val().indexOf("+") > -1 ||
                $("#modeleditor_content").val().indexOf("%") > -1 ||
                $("#modeleditor_content").val().indexOf("#") > -1 ||
                trimStr($("#modeleditor_content").val()).indexOf(" ") > -1))//这里先去除首位空格再说
            {
                niceAlert("文件名中不能含有“& = + % # 空格”等符号！",false);
            } else if ($("#modeleditor_type").val() == "default" && trimStr($("#modeleditor_content").val()).toLowerCase().endWith(".json") == false) {//同时考虑了大小写
                niceAlert('文件名需以 “.json” 结束！',false);
            } else if (findIfExistDuplicatePolicyName($("#modeleditor_name").val())) {
                niceAlert('文件名已存在！请重新输入',false);
            } else {
                tempName = treeNode.realName;
                treeNode.name = trimStr($("#modeleditor_display_name").val());
                treeNode.realName = trimStr($("#modeleditor_name").val());
                if (treeNode.getParentNode() != null) {//如果不是根节点
                    treeNode.getParentNode().content = treeNode.getParentNode().content.replace(tempName, treeNode.realName);//更新父节点的content中的name
                }
                treeNode.type = trimStr($("#modeleditor_type").val());
                treeNode["built-in"] = trimStr($("#modeleditor_builtin").val());
                treeNode.version = trimStr($("#modeleditor_version").val());
                treeNode.description = trimStr($("#modeleditor_description").val());//描述
                treeNode.content = trimStr($("#modeleditor_content").val());

                //如果是all-forbid或者all-pass就清空content
                if ($("#modeleditor_type").val() == "all-forbid" || $("#modeleditor_type").val() == "all-pass") {
                    treeNode.content = "";
                }

                zTreeObj.updateNode(treeNode);
                niceAlert("修改成功！",true);
                $('#myModal').modal("hide");//关闭模态框
                zTreeObj.refresh();//刷新
            }
        }

        function myOnDblClick(treeNode) {
            //初始化
            $("#modeleditor_type").removeAttr("disabled");
            $("#modeleditor_name").removeAttr("disabled");
            $("#modeleditor_display_name").removeAttr("disabled");
            $("#modeleditor_description").removeAttr("disabled");
            $("#modeleditor_version").removeAttr("disabled");
            $("#goto_policy_editor_btn").removeAttr("disabled");
            $("#modeleditor_save").removeAttr("disabled");
            $("#modeleditor_content").removeAttr("disabled");


            $("#modeleditor_name").val(treeNode.realName);
            $("#modeleditor_display_name").val(treeNode.name);//name不是本来的名字，是显示用的名字
            $("#modeleditor_description").val(treeNode.description);
            $("#modeleditor_type").empty();
            //根据op-or 和 op-and来决定选择框的选项，以及是否可编辑
            if (treeNode.type == "op-and" || treeNode.type == "op-or") {
                $("#modeleditor_type").append("<option value='op-and'>op-and</option>");
                $("#modeleditor_type").append("<option value='op-or'>op-or</option>");
                $("#modeleditor_type").removeAttr("disabled");
            } else {
                $("#modeleditor_type").append("<option value='default'>default</option>");
                $("#modeleditor_type").append("<option value='all-pass'>all-pass</option>");
                $("#modeleditor_type").append("<option value='all-forbid'>all-forbid</option>");
            }
            $("#modeleditor_type").val(treeNode.type);

            //如果没有build-in，就默认设置为false
            if (!treeNode.hasOwnProperty("built-in")) {
                $("#modeleditor_builtin").val("false");
            } else {
                $("#modeleditor_builtin").val(treeNode["built-in"]);
            }

            $("#modeleditor_version").val(treeNode.version);
            $("#modeleditor_content").val(treeNode.content);
            //如果是多个选项就禁止编辑content防止出错
            if (treeNode.type == "op-and" || treeNode.type == "op-or") {
                $("#modeleditor_content").attr("disabled", "disabled").attr("title", "非叶节点不可编辑content");
                $("#goto_policy_editor_btn").hide();
            } else if (treeNode.type == "all-pass" || treeNode.type == "all-forbid") {
                $("#modeleditor_content").attr("disabled", "disabled");
                $("#goto_policy_editor_btn").hide();
            } else {
                $("#modeleditor_content").removeAttr("disabled");
                $("#goto_policy_editor_btn").show();
            }

            //设置按钮的回调
            $("#modeleditor_save").attr('onclick', 'updateNode("' + treeNode.tId + '")');

            //非管理员built-in属性不可以改。
            if (!isAdmin()) {
                $("#modeleditor_builtin").attr("disabled", "disabled");
            }
            //如果Built-in是true，则非管理员不可以修改属性，不可以编辑JSON。
            if (!isAdmin() && treeNode["built-in"] == "true") {
                $("#modeleditor_type").attr("disabled", "disabled");
                $("#modeleditor_name").attr("disabled", "disabled");
                $("#modeleditor_display_name").attr("disabled", "disabled");
                $("#modeleditor_description").attr("disabled", "disabled");
                $("#modeleditor_version").attr("disabled", "disabled");
                $("#modeleditor_content").attr("disabled", "disabled");
                $("#goto_policy_editor_btn").attr("disabled", "disabled");
                $("#modeleditor_save").attr("disabled", "disabled");
            }
            $('#myModal').modal();//最后打开模态对话框
            afterMyModelShown();
        }

        //显示加号、编辑图标以及事件
        var newCount = 1;
        function addHoverDom(treeId, treeNode) {
            var sObj = $("#" + treeNode.tId + "_span");
            if (treeNode.editNameFlag || $("#addBtn_" + treeNode.tId).length > 0 || $("#editBtn_" + treeNode.tId).length > 0) return;
            var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
                + "' title='add node' onfocus='this.blur();'></span><span class='button edit' id='editBtn_" + treeNode.tId
                + "' title='edit node' onfocus='this.blur();'></span>";
            sObj.after(addStr);
            var btn2 = $("#editBtn_" + treeNode.tId);
            if (btn2) btn2.bind("click", function () {
                myOnDblClick(treeNode);
            });

            var btn = $("#addBtn_" + treeNode.tId);
            //点击事件
            if (btn) btn.bind("click", function () {
                //如果这个节点是built-in，就不可以增加子节点
                if (!isAdmin() && treeNode["built-in"] == "true") {
                    niceAlert("内置节点不可修改！",false);
                    return;
                }
                var zTree = $.fn.zTree.getZTreeObj("treeDemo");
                randomNumber = Math.floor(Math.random() * 1000000 + 1);//随机数，防止重复的name
                newname = "new-policy" + randomNumber;
                new_diaplay_name = "策略" + randomNumber;
                newcontent = "policy" + randomNumber + ".json";//叶节点的新content
                //一个父策略下可以有n个子策略
                //如果是第一个添加的节点
                if (!treeNode.hasOwnProperty("children") || treeNode.children.length == 0) {
                    treeNode.type = "op-and";//更改父策略
                    newcontent = treeNode.content;//把原来父节点的.json赋给新建的子节点的content
                    treeNode.content = newname;//然后父节点content需要清空并变成新叶节点的名字
                } else {
                    treeNode.content = treeNode.content + "," + newname;//在非首次添加子节点时，修改content
                }
                treeNode["build-in"] = false;
                zTree.addNodes(treeNode, {
                    //id: (100 + newCount),
                    //pId: treeNode.id,
                    realName: newname,//否则会导致同名属性的覆盖
                    name: new_diaplay_name,
                    description: "默认描述",
                    type: "default", //提前设定type
                    "built-in": "false",
                    version: "v1.0",
                    content: newcontent
                });
//修改图标

                zTree.refresh();
                newCount++;
                return false;
            });
        }

        //不写这个会造成鼠标移走了但是图标还在
        function removeHoverDom(treeId, treeNode) {
            $("#addBtn_" + treeNode.tId).unbind().remove();
            $("#editBtn_" + treeNode.tId).unbind().remove();
        }

        //禁止选中
        function myBeforeClick(treeId, treeNode, clickFlag) {
            return false;
        }
        ;

        function beforeRemove(treeId, treeNode) {
            //它自己不是管理员，而且是built-in或者它的父节点是built-in的情况下都不可以删
            if (!isAdmin() && (treeNode["built-in"] == "true" || treeNode.getParentNode()["built-in"] == "true" )) {
                niceAlert('内置节点不可修改',false);
                return false;
            }
            else
                return confirm("确认删除节点 " + treeNode.name + " 吗？");
        }

        //决定是否显示删除按钮
        function showRemoveBtn(treeId, treeNode) {
            return !treeNode.isFirstNode;
        }

        function viewFile() {
            /*$('#textarea_json').val(JSON.stringify(formatZTreeToOriginTree($.extend(true, {}, zTreeObj.getNodes()[0])), null, 4));//深复制));*/
            let json = JSON.stringify(formatZTreeToOriginTree($.extend(true, {}, zTreeObj.getNodes()[0])),null,'\t');//深复制));
            hljs.configure({
                tabReplace: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
                useBR:true
            });
            $('#textarea_file').html(hljs.fixMarkup(hljs.highlightAuto(json).value));
            $('#fileView').modal();//最后打开模态对话框
        }

        function viewModel(iniName){
            $.getJSON(getBaseUrl()+"/" + "models/"+iniName, function (data) {
                let ini = data.join("\n");
                console.log(ini);
                hljs.configure({
                    tabReplace: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
                    useBR:true
                });
                $('#textarea_file').html(hljs.fixMarkup(hljs.highlightAuto(ini).value));
                $('#fileView').modal();//最后打开模态对话框
            });
        }

        //根据“内容”框，来初始化“查看Model”按钮
        function afterMyModelShown(){
            switch($("#modeleditor_content").val()){
                case "enable.csv":
                    $("#view_model_btn").removeClass("hidden");
                    $("#view_model_btn").attr('onclick',"viewModel('enable_model.conf')");
                    break;
                case "restrict.csv":
                    $("#view_model_btn").removeClass("hidden");
                    $("#view_model_btn").attr('onclick',"viewModel('restrict_model.conf')");
                    break;
                case "custom-policy.csv":
                    $("#view_model_btn").removeClass("hidden");
                    $("#view_model_btn").attr('onclick',"viewModel('custom_model.conf')");
                    break;
                case "":
                    $("#view_model_btn").addClass("hidden");
                    break;
            }
        }

    </script>

</head>
<body>
<ol class="breadcrumb" style="font-size: medium;padding:10px 20px;">
    <li><a href="Tenant.html">Tenant list</a></li>
    <li class="active">Policy tree editor</li>
    <span class="username">您好，<span id="username"></span></span>
</ol>

<div>
    <div class="margin-left2">
        <h1>Policy tree editor</h1>
        <ul id="treeDemo" class="ztree"></ul>
        <button class="btn btn-success margin-left-top" onclick="save()">Save</button>
        <button class="btn btn-primary margin-left-top2" onclick="viewFile()">View policy tree file</button>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Node editor</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="modeleditor_name" class="col-sm-2 control-label">名字</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="modeleditor_name"
                                       placeholder="例: custom-policy">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeleditor_display_name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="modeleditor_display_name"
                                       placeholder="例: 云平台-限制">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeleditor_type" class="col-sm-2 control-label">Type</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="modeleditor_type">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeleditor_builtin" class="col-sm-2 control-label">Builtin</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="modeleditor_builtin">
                                    <option>true</option>
                                    <option>false</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeleditor_version" class="col-sm-2 control-label">Version</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="modeleditor_version"
                                       placeholder="例: v1.0">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeleditor_description" class="col-sm-2 control-label">Policy description</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="modeleditor_description"
                                       placeholder="例: 默认描述">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modeleditor_content" class="col-sm-2 control-label">Detail</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="modeleditor_content"
                                       placeholder="例: policy.json">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="goto_policy_editor_btn" class="col-sm-2 control-label"> </label>
                            <div class="col-sm-10">
                                <button type="button" id="goto_policy_editor_btn" class="btn btn-primary"
                                        onclick="jumpToPolicyEditor(tenant_id,tenant_name)" aria-hidden="true">Edit this strategy
                                </button>
                                <button type="button" id="view_model_btn" class="btn btn-primary"
                                        onclick="viewModel('enable_model.conf')" aria-hidden="true">View Model
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <!-- data-dismiss用于关闭对话框 -->
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="modeleditor_save" onclick="updateNode()">Save
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="modal fade" id="fileView" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel2">File preview</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group" style="padding-left: 1vw;padding-right: 1vw">
                            <div class="textarea hljs" id="textarea_file"
                                      onfocus="this.blur()"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- data-dismiss用于关闭对话框 -->
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Determine</button>
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
</body>
</html>
