<!DOCTYPE html>
<html lang="cn">
<head>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?434c178f0059210a51157080f975625e";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119750650-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-119750650-4');
    </script>

    <meta charset="UTF-8">
    <title>1.Tenant list page</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon"/>
    <link rel="bookmark" href="../static/images/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon"/>

    <script type="text/javascript" src="../static/lib/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/jquery-confirm.css"/>
    <script type="text/javascript" src="../static/lib/jquery-confirm.min.js"></script>
    <script src="../static/js/patron_parameters.js"></script>
    <script src="../static/lib/bootstrap.min.js"></script>
    <script src="../static/js/login.js"></script>
    <style>
    </style>
    <script>
        $(document).ready(function () {
            console.log(getBaseUrl());
            $.get(getBaseUrl()+"/" + "tenants/", function (data) {
                $("#user-list-group").empty();
                $.each(data, function(i, field){
                    $("#user-list-group").append('<li class="list-group-item pointer-as-hand center-text" style="height: 23%" onclick="jumpToMetadataPage(\'' + field.id + "\',\'" + field.name +'\')">' + field.name + '<img src="../static/images/users.svg" class="user-list" style="float: right;margin-right: 0vw" onclick="jumpToUserPage(\'' + field.id + '\');event.cancelBubble = true;"><div style="float:right;height: 7vh;margin-top:-1.8vh;width: 0.7px;background: #ddd;margin-right: 13px"></div></li>');
                    //cancelBubble可以拦截往父div的事件分发
                });
            });
        });

        function reset() {
            $.getJSON(getBaseUrl()+"/" + "reset", function (data) {
                niceAlert("Reset successfully",true);
                location.reload(true);
            });
        }


        //跳转
        function jumpToUserPage(tenant_id) {
            location.href = "User.html?tenant_id=" + tenant_id;
        }

        //跳转
        function jumpToMetadataPage(tenant_id,tenant_name) {
            location.href = "MetadataTree.html?tenant_id=" + tenant_id+"&tenant_name="+escape(tenant_name);//中文乱码
        }
    </script>
    <style>
        .pointer-as-hand {
            cursor: pointer;
        }

        .marginLeftSmall {
            margin-left: 50px;
        }

        /*当鼠标指上去的时候变灰*/
        li.list-group-item:hover,
        li.list-group-item:focus {
            color: #555;
            text-decoration: none;
            background-color: #f5f5f5;
        }

        .center-text {
            text-align: center
        }

        .custom-list-scroll {
            overflow: auto;
            width: auto;
            height: 180px;
        }
    </style>
</head>
<body>
<ol class="breadcrumb" style="font-size: medium;padding:10px 20px;">
    <li class="active">Tenant list</li>
</ol>

<div class="container">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
            <span class="center-text"><h2><b>Tenant list</b></h2></span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-offset-3 col-sm-6">
            <ul class="list-group custom-list-scroll" id="user-list-group">
            </ul>
        </div>
    </div>
    <div class="row">
        <div style="text-align: center">
            <button type="button" class="btn btn-success"
                    onclick="reset()">Reset
            </button>
        </div>
    </div>
</div>
</body>
</html>
