<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
    <link rel="bookmark" href="../static/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon" />

    <script type="text/javascript" src="../static/lib/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="../static/lib/bootstrap.min.css">
    <script src="../static/lib/bootstrap.min.js"></script>
    <script src="../static/js/login.js"></script>
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/jquery-confirm.css" />
    <script type="text/javascript" src="../static/lib/jquery-confirm.min.js"></script>
    <style>
    </style>
    <script>
        $(document).ready(function () {
            hideAllAlerts();
        });
        function onPasswordEnterKeyPressed(event) {
            if(event.keyCode ==13){
                $("#loginBtn").trigger("click");
            }
        }
    </script>
</head>
<body>

<ol class="breadcrumb" style="font-size: medium;padding:10px 20px;">
    <li class="active">Tenant login</li>
</ol>
<div class="container">
    <div class="row" style="margin-top:5%">
        <div class="col-md-6 col-md-offset-3">
            <div class="well col-md-10 col-md-offset-1">
                <h3 class="text-center">Tenant login</h3>
                <hr>
                <div class="input-group input-group-md">
                    <span class="input-group-addon" ><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                    <input type="text" class="form-control" name="username" placeholder="Tenant name" id="username">
                </div>
                <h6 id="username_alert" hidden>Please enter the tenant name</h6>
                <div class="input-group input-group-md">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input type="password" class="form-control" name="password" placeholder="password"  id="password" onkeydown="onPasswordEnterKeyPressed(event)" >
                </div>
                <h6 id="password_alert" hidden>Please enter your password</h6>
                <br/>
                <button type="button" id="loginBtn" class="btn btn-success btn-block" onclick="login()">
                    Login
                </button>
            </div>
        </div>
    </div>

</div>
</body>
</html>
